/*------------------------------------------------------------
video
------------------------------------------------------------*/
.c-slide {
    text-align: left;
    margin-bottom: 67px;

    &__item {
        img {
            width: 550px;
        }
    }
}
/*
------------------------------------------------------------*/
