/*------------------------------------------------
Banner
------------------------------------------------*/

.c-banpresent {
    max-width: 1192px;
    width: 90%;
    margin: 117px auto 0;
    @include sp {
        width: 85%;
        margin: 44px auto 0;
    }
}


/*------------------------------------------------
------------------------------------------------*/
